.section {
  padding: 16px 16px;
  background-image: url(../../images/leaves-bottom-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 1580px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section {
    background-image: url(../../images/leaves-bottom-mobile@2x.png);
  }
}
@media (min-device-pixel-ratio: 3),
  (min-resolution: 268dpi),
  (min-resolution: 3dppx) {
  .section {
    background-image: url(../../images/leaves-bottom-mobile@3x.png);
  }
}
.container {
  width: 100%;
  margin-bottom: 100px;
  position: relative;
}
.form {
  position: relative;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1240px;
    margin-bottom: 100px;
  }
}
