$darkNormalState: rgba(34, 37, 42, 1);
$greenNormalState: rgba(139, 170, 54, 1);
$redError: rgba(231, 74, 59, 1);
$greenConfirmed: rgba(60, 188, 129, 1);
$yellowWarning: rgba(246, 194, 62, 1);
$backgroundGreen: rgba(235, 243, 212, 1);
