<header class="header">
  <div class="header__topContainer">
    <a class="header__logo" href=""
      ><img class="header__logo__img" src="./images/header/logo-cutlerys.svg"
    /></a>
    <div class="header__topContainer__rightSide">
      <div class="header__topContainer__rightSide__user">
        <a class="header__topContainer__rightSide__user__picture" href=""></a>
        <a class="header__topContainer__rightSide__user__name" href=""> Name</a>
      </div>

      <a class="header__topContainer__rightSide__hamburger" href=""
        ><img
          class="header__topContainer__rightSide__hamburger__img"
          src="/src/images/header/header-hamburger.svg"
      /></a>
    </div>
  </div>
  <div class="header__modalUser invisible">
    <div class="header__modalUser__editProfile">
      <a class="header__modalUser__editProfile__a" href="">
        <span class="header__modalUser__editProfile__text">Edit profile</span>
        <img
          class="header__modalUser__editProfile__pen"
          src="/src/images/header/header-modal-pen.svg"
      /></a>
    </div>
    <button class="header__modalUser__button">Log out</button>
  </div>

  <div class="header__modalMenu invisible">
    <div class="header__modalMenu__topLogoAndX">
      <a class="header__logo" href=""
        ><img class="header__logo__img" src="./images/header/logo-cutlerys.svg"
      /></a>
      <a class="header__modalMenu__topLogoAndX__a"
        ><img src="/src/images/header/x.svg" class="header__modalMenu__topLogoAndX__x"
      /></a>
    </div>
    <div class="header__modalMenu__menu">
      <a class="header__modalMenu__menu__text" href="">Categories</a>
      <a class="header__modalMenu__menu__text" href="">Add recipes</a>
      <a class="header__modalMenu__menu__text" href="">My recipes</a>
      <a class="header__modalMenu__menu__text" href="">Favorites</a>
      <a class="header__modalMenu__menu__text" href="">Shopping list</a>
      <a class="header__modalMenu__menu__text" href="">
        <img src="/src/images/header/header-magnifyingGlass.svg" /><span>Search</span></a
      >
    </div>
    <div class="header__modalMenu__background"></div>
  </div>
</header>
