.container {
  width: 100%;
  position: absolute;
  top: 221px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  padding: 32px 28px 40px 28px;
  margin-bottom: 12px;
  border-radius: 30px;
  background: #2a2c36;
  box-shadow: 0px 4px 48px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: start;
}
.formHeadline {
  margin: 0 0 18px 0;
  color: #fafafa;
  font-feature-settings: 'liga' off;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.48px;
}
.item {
  position: relative;
}
.item:is(:hover, :focus-within) {
  .icon {
    color: #fff;
    opacity: 1;
  }
}
.item:is(:hover, :focus-within) {
  .iconInvalid {
    opacity: 0;
  }
}
.item:not(:last-child) {
  margin-bottom: 12px;
}
.item:last-child {
  margin-bottom: 28px;
}
.notice {
  color: #fafafa;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  position: absolute;
  bottom: -36px;
  opacity: 0;
}
.noticeRed {
  color: #e74a3b;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  position: absolute;
  bottom: -36px;
  opacity: 1;
}
.noticeGreen {
  color: #3cbc81;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  position: absolute;
  bottom: -36px;
  opacity: 1;
}
.input {
  width: 100%;
  padding: 12px 14px 12px 40px;
  background-color: transparent;
  border: 1px solid #fafafa;
  border-radius: 6px;
  color: #fafafa;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  opacity: 0.8;
  transition: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition-property: border, opacity;
}
.input::placeholder {
  color: #fafafa;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  opacity: 0.8;
  transition: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition-property: opacity;
}
.inputInvalid {
  width: 100%;
  padding: 12px 14px 12px 40px;
  background-color: transparent;
  border: 1px solid #e74a3b;
  border-radius: 6px;
  color: #fafafa;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  outline: none;
  opacity: 1;
  transition: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition-property: border, opacity;
}
.inputValid {
  width: 100%;
  padding: 12px 14px 12px 40px;
  background-color: transparent;
  border: 1px solid #3cbc81;
  border-radius: 6px;
  color: #fafafa;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  outline: none;
  opacity: 1;
  transition: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition-property: border, opacity;
}
.input:is(:hover, :focus)::placeholder {
  opacity: 1;
}
.input:is(:hover, :focus) {
  border: 1px solid #fff;
  opacity: 1;
}
.icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.8;
  stroke: #fafafa;
  transition: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition-property: stroke;
}
.iconRed {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  stroke: #e74a3b;
  transition: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition-property: stroke;
}
.iconGreen {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  stroke: #3cbc81;
  transition: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition-property: stroke;
}
.iconHide {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  display: none;
  transition: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition-property: opacity;
}
.iconShow {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  display: block;
  transition: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition-property: opacity;
}
.button {
  border-radius: 6px;
  background-color: #8baa36;
  border: none;
  color: #fafafa;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.12;
  width: 100%;
  padding: 14px 0;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition-property: color;
}
.button:is(:hover, :focus-visible) {
  color: #22252a;
}
.link {
  color: #fafafa;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    position: absolute;
    top: 347px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form {
    padding: 44px 50px 44px 50px;
    margin-bottom: 18px;
    max-width: 500px;
  }
  .formHeadline {
    margin: 0 0 32px 0;
    font-size: 28px;
    line-height: 1.07;
    letter-spacing: -0.56px;
  }
  .item:not(:last-child) {
    margin-bottom: 24px;
  }
  .item:last-child {
    margin-bottom: 50px;
  }
  .input {
    padding: 16px 18px 16px 50px;
    font-size: 18px;
    letter-spacing: -0.36px;
  }
  .inputInvalid {
    padding: 16px 18px 16px 50px;
    font-size: 18px;
    letter-spacing: -0.36px;
  }
  .inputValid {
    padding: 16px 18px 16px 50px;
    font-size: 18px;
    letter-spacing: -0.36px;
  }
  .input::placeholder {
    font-size: 18px;
  }
  .icon {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 18px;
  }
  .iconRed {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 18px;
  }
  .iconGreen {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 18px;
  }
  .button {
    padding: 21px 0;
  }
  .link {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    position: static;
    max-width: 500px;
  }
}
